<div class="head">
	<h3><%= _('Comments')%></h3>
</div>

<div class="body">
	<div id="div_comment_list">
		<%= render :partial=>'comment', :collection=>@comments %>    
	</div>   

	<% unless @comments.empty? -%>
		<%= remote_page_navigator @comments, 'div_comment_section', :get %>
	<% else -%>
		<p class="note"><%= _('There are no comments now.')%></p>
	<% end -%>    

	<% if @current_user -%>
	<div id="div_comment_form">
		<%= render :partial=>'new' %>
	</div>
	<% else -%>
		<p class="note"><%= _('You can post comment after login.')%></p>
	<% end -%>	
</div>

