<div class="section">
	<div class="head_no_title">	</div>
	<div class="body">
		<ul class="side_menu">
			<li class="menu_item"><%= link_to '关于神图', '/static/about_us' %></li>
			<li class="menu_item"><%= link_to '关于贴心网', '/static/about_xnavi' %></li>
			<li class="menu_item"><%= link_to '资料下载', '/static/download_documents'%></li>
			<li class="menu_item"><%= link_to '软件下载', '/static/download' %></li>
			<li class="menu_item"><%= link_to '联络信息', '/static/contact_us' %></li>
		</ul>
	</div> <!-- section body -->
	<div class="foot">
		
	</div> <!-- section foot -->
</div> <!-- section -->
