<% page_title _('Inner Hot Spots') 
	use_remote_dialog -%>

<% content_for :page_scripts do -%>
var panel;

	function init_page () {
		panel = new RemotePanel ('panel', { body: 'panel_body', head: 'panel_head', width: '400px', fixedcenter: true });
	}
	
	function search_for_add_existing_hot_spot () {
		operation = null;
		panel.retrieve(
			'<%= search_for_add_hot_spot_inner_hot_spots_path(@container_hot_spot.id) %>',
			{ method: 'post'
			});
	}
	
	function add_existing_hot_spot (id) {
		new Ajax.Request ("/hot_spots/<%= @container_hot_spot.id%>/inner_hot_spots/" + id + "/add", {});
	}
	
	function show_inner_hot_spots () {
		<%= remote_function :url=>hot_spot_inner_hot_spots_path(@container_hot_spot), :update => 'div_inner_hot_spots_section', :method => :get %>
	}
	
	function remove_inner_hot_spot(id) {
		var ele = $('ele_HotSpot_' + id);
		if (ele)
			ele.remove ();
	}
	
	function new_hot_spot () {
		dialog.retrieve_remote_form('<%= new_hot_spot_inner_hot_spot_path(@container_hot_spot) %>');
	}
	
<% end -%>

<div class="navigation_bar">
	<%= link_to h(localized_description(@container_hot_spot, :name)), @container_hot_spot %>&nbsp;&gt;&nbsp;
	<%= _('Inner Hot Spots')%>
</div>

<div id="main_function_content">
	<div id="div_inner_hot_spots_section">
		<div id="inner_hot_spot_list">
		<%= render :partial=>'search_form' %>

		<div id="inner_hot_spots_table">	
			<table class="data_list" width="98%">
				<tr>
					<th width="*">
			                    <%= link_to_remote s_('HotSpot|Name'), :url=>hot_spot_inner_hot_spots_path(params[:hot_spot_id])+"?order_by=name_#{@current_lang}", :update => 'div_inner_hot_spots_section', :method => :get %>
			                </th>
					<th width="30%">
			                    <%= link_to_remote s_('HotSpot|Address'), :url=>hot_spot_inner_hot_spots_path(params[:hot_spot_id])+"?order_by=address_#{@current_lang}", :update => 'div_inner_hot_spots_section', :method => :get %>
			                </th>
					<th width="25%">
			                    <%= link_to_remote s_('Hot Spot Category'), :url=>hot_spot_inner_hot_spots_path(params[:hot_spot_id])+"?order_by=hot_spot_category_id", :update => 'div_inner_hot_spots_section', :method => :get %>
			                </th>
					<th width="10%"><%= _('Operation') %></th>
				</tr>
				<%= render :partial => "hot_spot_row", :collection=>@hot_spots %>
			</table>
			<%= remote_page_navigator @hot_spots, 'div_inner_hot_spots_section', :get %>

		</div>

		<% if @current_user -%>
		<div class="button_bar">
			<%= link_to_function _('Add Existing Hot Spot'), "search_for_add_existing_hot_spot()", :class=>:button%>
			<%= link_to_function _('New Hot Spot'), "new_hot_spot();", :class => :button %>
		</div>
		<% end -%>
		</div>
	</div>
</div>
<div id="panel">
	<div class="hd" id="panel_head">

	</div>

	<div class="bd" id="panel_body">

	</div>
</div>
