<% content_for 'page_scripts' do -%>
        var panel;

	function init_page () {
		init_calendar_calendar ();
                panel = new RemotePanel ('panel', { body: 'panel_body', head: 'panel_head', width: '400px', fixedcenter: true });
	}
	
	function customize_calendar(cal) {
		cal.cfg.minDate='<%= Time.now.strftime('%m/%d/%Y')%>'; 
 	}

<% end -%>

<script language="javascript">
var article_ids = new Array();
var article_title = new Array();
var article_link = new Array();

var post_ids = new Array();
var post_title = new Array();
var post_link = new Array();

var hot_spot_ids = new Array();
var hot_spot_title = new Array();
var hot_spot_link = new Array();

var travel_line_family = new Array(6);
var travel_line_sweet = new Array(6);
var travel_line_grandparent = new Array(6);
var travel_line_child = new Array(6);

<%if @article_ids and !@article_ids.empty?%>
      article_ids = <%="[#{@article_ids}]"%>
<%end%>
<%if @article_names and !@article_names.empty?%>
     article_title = <%="[#{@article_names}]"%>
<%end%>
<%if @article_links and !@article_links.empty?%>
      article_link = <%="[#{@article_links}]"%>
<%end%>

<%if @post_ids and !@post_ids.empty?%>
      post_ids = <%="[#{@post_ids}]"%>
<%end%>
<%if @post_names and !@post_names.empty?%>
     post_title = <%="[#{@post_names}]"%>
<%end%>
<%if @psot_links and !@post_links.empty?%>
      post_link = <%="[#{@post_links}]"%>
<%end%>

<%if @hot_spot_ids and !@hot_spot_ids.empty?%>
      hot_spot_ids = <%="[#{@hot_spot_ids}]"%>
<%end%>
<%if @hot_spot_names and !@hot_spot_names.empty?%>
     hot_spot_title = <%="[#{@hot_spot_names}]"%>
<%end%>
<%if @hot_spot_links and !@hot_spot_links.empty?%>
      hot_spot_link = <%="[#{@hot_spot_links}]"%>
<%end%>

function RetObject(name,object_title,object_link,object_ids){ 
      this.name = name; 
      this.title = object_title;
      this.link = object_link; 
      this.ids = object_ids
}

function set_ret_article (){
    var ret = new RetObject('article',article_title,article_link,article_ids); 
    related(ret,'article')
}

function set_ret_post (){
    var ret = new RetObject('post',post_title,post_link,post_ids); 
    related(ret,'post')
}

function set_ret_hot_spot (){
    var ret = new RetObject('hot_spot',hot_spot_title,hot_spot_link,hot_spot_ids); 
    related(ret,'hot_spot')
}

function add_related_article () {
       panel.retrieve('/admin/topics/related_articles/');
}

function add_related_post () {
       panel.retrieve('/admin/topics/related_posts/');
}

function add_related_hot_spot () {
       panel.retrieve('/admin/topics/related_hot_spots/');
}

function insert_related_article(id,name,link){
      article_title.push(name)
      article_title = article_title.uniq()
      article_link.push(link)
      article_link = article_link.uniq()
      article_ids.push(id)
      article_ids = article_ids.uniq()
      
      set_ret_article()
}

function insert_related_post(id,name,link){
      post_title.push(name)
      post_title = post_title.uniq()
      post_link.push(link)
      post_link = post_link.uniq()
      post_ids.push(id)
      post_ids = post_ids.uniq()
      
      set_ret_post()
}

function insert_related_hot_spot(id,name,link){
      hot_spot_title.push(name)
      hot_spot_title = hot_spot_title.uniq()
      hot_spot_link.push(link)
      hot_spot_link = hot_spot_link.uniq()
      hot_spot_ids.push(id)
      hot_spot_ids = hot_spot_ids.uniq()
      
      set_ret_hot_spot()
}

function remove_related_article(id,name,link){
      article_ids = article_ids.without(id);
      article_title = article_title.without(name)
      article_link = article_link.without(link)
      set_ret_article()
}

function remove_related_post(id,name,link){
      post_ids = post_ids.without(id);
      post_title = post_title.without(name)
      post_link = post_link.without(link)
      set_ret_post()
}

function remove_related_hot_spot(id,name,link){
      hot_spot_ids = hot_spot_ids.without(id);
      hot_spot_title = hot_spot_title.without(name)
      hot_spot_link = hot_spot_link.without(link)
      set_ret_hot_spot()
}
      
function related(obj,oname){
      object_related = 'related_' + obj.name
      object_id = obj.name + '_id'
      $(object_related).innerHTML = ''
      for (var index = 0; index < obj.ids.length; ++index) {
              var id = obj.ids[index];
              var name = obj.title[index];
              var link = obj.link[index];
              str = '<p><a href="'+link+'" target="_blank">'+ name+'</a>'
              if(oname=='article'){
                 str = str + '<a href="javascript:void(0)" onclick=remove_related_article('+id+',"'+name+'","'+link+'")>[x]</a>'
              }else if(oname=='post')              
              {
                 str = str + '<a href="javascript:void(0)" onclick=remove_related_post('+id+',"'+name+'","'+link+'")>[x]</a>'
              }
              else if(oname=='hot_spot')              
              {
                 str = str + '<a href="javascript:void(0)" onclick=remove_related_hot_spot('+id+',"'+name+'","'+link+'")>[x]</a>'
              }
              str = str + '</p>'  + $(object_related).innerHTML  
              $(object_related).innerHTML = str
      }
      $(object_id).value = obj.ids
}

function add_article_to_topic(id) {
       new Ajax.Request ("/admin/topics/related_article_for_add/?article_id=" + id  , {method: 'post'});
}

</script>

<div class="button_bar">
	<%= link_to _('Back'), admin_topics_path, :class=>:button %>
</div>
<%= hidden_field_tag "type", "expo"%>
<img src="/images/topic/expo/top.jpg" />
<div style="height: 100px;">
  世博星推荐
  <%= link_to_function _('Add related hot spot'), "add_related_hot_spot()"%>
                    <%= hidden_field_tag "hot_spot_id"%>
                    <div class="article" id="related_hot_spot">

                    </div>
</div>
<table cellpadding="0px" cellspacing="0px">
  <tr>
    <td>
      <!--left-->
      <table style="width:309px" cellpadding="0px" cellspacing="0px">
        <tr>
          <td style="height: 300px; background-image: url('/images/topic/expo/sbxw.jpg');">
            <div style="position:relative;top:66px; left:12px;">
              <%= link_to_function _('Add related article'), "add_related_article()"%>
                    <%= hidden_field_tag "article_id"%>
                    <div class="article" id="related_article">

                    </div>
            </div>
          </td>
        </tr>
        <tr>
          <td style="height: 250px; background-image: url('/images/topic/expo/jtts.jpg');">
            <div id="traffic_title" style="position:relative;top:46px; left:104px;">
              <%=text_field_tag "topic_expo[traffic_title]",(@topic_expo.blank?? "" : @topic_expo.traffic_title ) %>
            </div>
            <div id="traffic_content" style="position:relative;top:60px; left:12px;">
              <%=text_area_tag "topic_expo[traffic_content]",(@topic_expo.blank??  "" : @topic_expo.traffic_content), :size => "30x6" %>
            </div>
          </td>
        </tr>
        <tr>
          <td style="height: 47px; background-image: url('/images/topic/expo/sbhdzzd.jpg');">

          </td>
        </tr>
        <tr>
          <td style="height: 150px;">
            <b>添加方法：</b> 在任意一场馆中增加活动信息，并将分类选择为Expo(世博)即可。
          </td>
        </tr>
      </table>
      <!--end-->
    </td>
    <td>
      <!--right-->
<script>
function show_s(obj,show){
    obj = document.getElementById(obj)
    obj.style.display = show
}
function zin(obj){
	var top = 5
	for(i=1;i<top;i++){
		a = document.getElementById("a"+i)
		if(i==obj){
			document.getElementById("a"+obj).style.zIndex=top;
                        show_s("i"+i,'')
		}else{
			if(a){
				a.style.zIndex=i
                                show_s("i"+i,'none')
			}
		}

	}
}
</script>
<div style="width:740px;height:80px;overflow:hidden;">
    <div id="a1" style="width:183px; height:83px; float:left; position:relative; z-index:4; background-image:url('/images/topic/expo/expo_bt_1.jpg')" onclick="zin(1)"></div>
    <div id="a2" style="width:183px; height:83px; float:left; position:relative; left:-30px; z-index:3; background-image:url('/images/topic/expo/expo_bt_2.jpg')" onclick="zin(2)"></div>
    <div id="a3" style="width:183px; height:83px; float:left; position:relative; left:-60px; z-index:2; background-image:url('/images/topic/expo/expo_bt_3.jpg')" onclick="zin(3)"></div>
    <div id="a4" style="width:183px; height:83px; float:left; position:relative; left:-90px; z-index:1; background-image:url('/images/topic/expo/expo_bt_4.jpg')" onclick="zin(4)"></div>
</div>
<div style="clear:both;"></div>
<div style="width:640px;height:881px;border: solid 2px #FFCC66" id="i1">
   <%=render :partial => "form_expo_main", :locals => {:et => "family", :recommend_hot_spots => @recommend_hot_spots_family, :travel_line => @travel_line_family}%>
</div>
<div style="width:640px;height:881px;;border: solid 2px #FF66FF;display:none" id="i2">
   <%=render :partial => "form_expo_main", :locals => {:et => "sweet", :recommend_hot_spots => @recommend_hot_spots_sweet, :travel_line => @travel_line_sweet}%>
</div>
<div style="width:640px;height:881px;;border: solid 2px #009900;display:none" id="i3">
  <%=render :partial => "form_expo_main", :locals => {:et => "grandparent", :recommend_hot_spots => @recommend_hot_spots_grandparent, :travel_line => @travel_line_grandparent}%>
</div>
<div style="width:640px;height:881px;;border: solid 2px #00CCFF;display:none" id="i4">
  <%=render :partial => "form_expo_main", :locals => {:et => "child", :recommend_hot_spots => @recommend_hot_spots_child, :travel_line => @travel_line_child}%>
</div>
<div style="width:605px;height: 248px; background-image: url('/images/topic/expo/rb2.jpg');">
  <div id="re_post" style="position:relative;top:50px; left:32px; width: 140px;">
    <%= link_to_function _('Add related post'), "add_related_post()"%>
        <%= hidden_field_tag "post_id"%>
        <div class="article" id="related_post">

        </div>
  </div>
</div>
<div style="width:610px;height: 33px; background-image: url('/images/topic/expo/sbms_r_t.jpg');">

</div>
      <!--end-->
    </td>
  </tr>
</table>
<table>
  <tr>
    <td style="width:950px; height: 233px; background-image: url('/images/topic/expo/sbms.jpg');">
      <div id="food" style="position:relative;top:20px; left:200px;">
        <b>添加方法：</b>管理员登录后，点击任意一餐馆地标，然后点击推荐到专题，选择世博专题。
            <table cellpadding="5" cellspacing="5">
                <tr>
                  <%if @food_hot_spots%>
                    <%for hot_spot in @food_hot_spots%>
                        <td>
                          <table>
                            <tr>
                              <td style="padding:3px;border:1px solid #ddd"><%=small_picture_tag_for_hot_spot(hot_spot)%></td>
                            </tr>
                            <tr><td style="text-align: center;"><%=h(localized_description(hot_spot, :name))%></td></tr>
                          </table>
                        </td>
                    <%end%>
                  <%end%>
                </tr>
            </table>
      </div>
    </td>
  </tr>
</table>


<table class="form_container">
	<tr>
		<td width="20%"><label class="required"><%= s_('Topic|Title') %></label></td>
		<td width="*"><%= form.text_field :title %></td>
	</tr>    
        <%unless @topic.new_record?%>
	<tr>
		<td><%= _('Current Cover_pic')%></td>
        <td><%=link_to image_tag(@topic.cover_pic.url),image_path(@topic.cover_pic.url),:target => "_blank" if @topic.cover_pic%></td>
	</tr>
        <%end%>
	<tr>
		<td><%= s_('Topic|Cover_pic') %></td>
		<td><%= upload_column_field :topic, :cover_pic %></td>
	</tr>
	<tr>
		<td><%= s_('City') %></td>
		<td><%=select :topic,:city_id,@cities, {:selected => @topic.city_id, :prompt => _('Select City')}%>
                </td>
	</tr>        
	<tr>
		<td><%= s_('Topic|Expire date') %></td>
		<td><%= form.text_field :expire_date, :size=>20 %><%= link_to_function image_tag('calendar.gif'), 'show_calendar()', :id=>'link_topic_expire_date', :class=>'image' %></td>
	</tr>        
        <tr>
		<td colspan="2" class="button_bar">
			<%= submit_tag %>
		</td>
	</tr>
</table>
<%= calendar :calendar, 
			 {:anchor_element=>'link_topic_expire_date', 
			  :date_field=>'topic_expire_date',
			  :customizer=>'customize_calendar'},
			 { :minDate => Time.now.strftime('%m/%d/%Y'), :close=>true} %>  
<script>
    set_ret_article()
    set_ret_post()
    set_ret_hot_spot()
</script>