<% coupon = received_coupon.coupon -%>
<div class="coupon">
	<div class="background">
		<%= image_tag 'coupon_bg.jpg' %>
	</div>
	<div class="vendor_name">
		<%= h(localized_description(coupon.vendor, :name))%>
	</div>
	<div class="expire_at">
		<%= s_('Coupon|Expire at') %>:<%= format_date coupon.expire_at %>
	</div>
	<div class="summary">
		<%= h(coupon.summary)%>
	</div>
	<div class="terms">
		<%= h(coupon.terms)%>
	</div>
	<div class="address">
		<%= s_('HotSpot|Address')%>:&nbsp;<%= h(localized_description(coupon.vendor.city, :name)) if coupon.vendor.respond_to?(:city) %><%= h(localized_description(coupon.vendor, :address))%><br/>
		<%= s_('HotSpot|Phone number')%>:&nbsp;<%= h(coupon.vendor.phone_number) if coupon.vendor.respond_to?(:phone_number) %>
	</div>
	<div class="consumer_phone">
		使用者电话:<%= received_coupon.phone_number %>
	</div>
</div>